%title 'Sign in'
:css
  label {
    color: #FFF;
  }
.pull-center
  %h1 IAP Research Poster Competition
  %h4 Welcome! Please sign in.
.row
  .span6.offset3
    = form_for(:session, url: sessions_path) do |f|
      = f.label :'..'
      = f.password_field :password
      = f.submit "Sign in", class: "btn btn-large btn-primary"