- @posters.each do |poster|
    = link_to judge_poster_judge_path(@judge.id, poster.id) do
        %div
            Poster #: 
            = poster.number.inspect
            %br
            = poster.title.inspect
        %br
