<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Howdy <%=@poster["presenter"]%>!
      
      
    </p>
    
    <p>
      This email is a confirmation that your poster has been registered for the IAP Poster Competition. Thank you for your participation. 

      <br>
    </p>
    
  </body>
</html>
