<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank You for Registering for the IAP Poster Competition</h1>
    <p>
      This email is a reminder about the competition tomorrow.<br>
    </p>
    
  </body>
</html>